<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% block styles %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
        <header class="main_header">
                <div >
                        <a class="main_header__brand" href="{% url 'start.html' %}">Logo tu</a>
                </div>
                <nav class="main_header_navigation_bar">
                        <ul class="main_header_links">
                                <li class="main_header__link"><a class="nav-link" href="{% url 'start.html' %}">Strona Główna</a></li>
                                <li class="main_header__link"><a class="nav-link" href="{% url 'loan.html' %}">Kredyty Pożyczki</a></li>
                                <li class="main_header__link"><a class="nav-link" href="{% url 'insurance.html' %}">Ubezpieczenia</a></li>
                                <li class="main_header__link"><a class="nav-link" href="{% url 'szkoda.html' %}">Likwidacja szkód</a></li>
                                <li class="main_header__link"><a class="nav-link" href="{% url 'tax.html' %}">Zwrot podatku z zagranicy</a></li>
                                <li class="main_header__link"><a href="{% url 'contact.html'%}">Kontakt</a></li>
                        </ul>
                </nav>
        </header>
            {% block content %}
            {% endblock %}

        <footer class="main_footer">
                <div>
                        <a  class="main_footer__brand" href="{% url 'start.html' %}">Logo tu</a>
                </div>
                <div>
                        <p>FHU AMMAR, 12-200 Pisz, ul. Spacerowa 8</p>
                        <a href="tel:+48730904703">tel: +48730904703</a>
                        <a href="tel:+48517613104">tel: +48517613104</a>
                </div>
        </footer>
</body>
</html>