<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aef6646358.js"></script>
    <link href="{% static '/font_awesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static ' ' %}">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-light bg-light" style="background-color: #524163">
                <a href="{% url 'glowna_pomoc.html' %}" class="navbar-brand">POMOC DROGOWA</a>
                        <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'start.html' %}">Strona Glowna</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'glowna_pomoc.html' %}">Pomoc drogowa</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'rent.html' %}">Wypozyczalnia aut</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contact.html' %}">Kontakt</a>
                                </li>
                            </ul>
            </nav>
    {% block content %}
    {% endblock %}
    <nav class="navbar footer fixed-bottom" style="background-color: #bec6c3">
            <a class="navbar-brand" href="{% url 'glowna_pomoc.html' %}">Logo firmy</a>
            <div>
                <p>FHU AMMAR, 12-200 Pisz, ul. Spacerowa 8</p>
                <a href="tel:+48730904703">tel: +48730904703</a>
                <a href="tel:+48517613104">tel: +48517613104</a>
            </div>
    
        </nav>
</body>
</html>