<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'rent.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="main-page">
        <div class="car-gallery">

        </div>
        <div class="main-content">
            <div class="upper-content">
                <div class="upper-content__picture">
                    <img class="picture_upper" src="{% static 'images/rent/picture_upper.jpg' %}" alt="">
                </div>
                <div class="upper-content__text">
                    <h2 class="heading">Wypożyczalnia samochodów</h2>
                    <h3>Oferujemy</h3>
                    <p>Dysponujemy duza flotą samochodów osobowych i dostawczych, gwarantujących komfort i bezpieczeństwo. Wszystkie auta są w bardzo dobrym stanie technicznym i posiadają bogate wyposażenie seryjne. Czas wypożyczenia pojazdu nie jest ograniczony. Oferujemy rozwiązania, które sprawdzą się dla każdego kierowcy.</p>
                    <ul>Zapewniamy</ul>
                    <li>krótkoterminowe wypożyczanie pojazdów</li>
                    <li>wynajem samochodów na długi okres</li>
                    <li>samochody zastępcze dla kierowców, których pojazd znajduje się w naprawie</li>
                </div>
            </div>
            <div class="middle-content">
                <div class="middle-content__picture">
                    <img class="middle_picture" src="{% static 'images/rent/picture_middle.jpg' %}" alt="">
                </div>
                <div class="middle-content__text">
                        <h3>Jak wynajac?</h3>
                        <p>W celu wynajęcia samochodu jako osoba prywatna bądź firma konieczne jest zarezerwowanie samochodu. Rezerwacji można dokonać dzwoniąc pod numer telefonu:</p>
                        <div class="container-phone-link">
                            <a class="phone-link" href="tel:+48517613104">517 613 104</a> 
                        </div>
                        <p>Istnieje możliwość podstawienia samochodu do miejsca wskazanego przez klienta np. hotelu, lotniska. - cena za usługę do uzgodnienia, uzależniona od ilości kilometrów od bazy.
                        Osoba wynajmująca musi posiadać ważny dowód osobisty, prawo jazdy oraz kartę kredytową. Na karcie kredytowej zostaję założona blokada w kwocie 1500 zł. Jeżeli wynajęty pojazd zostanie zwrócony z nowymi uszkodzeniami (powstałymi podczas wynajmu) Wypożyczający obciąży Pożyczającego kwotą udziału własnego w szkodzie 1500 zł. </p>
                        
                </div>
            </div>
            <div class="bottom-content">
                <div class="bottom-content__picture">
                    <img class="bottom_picture" src="{% static 'images/rent/picture_bottom.jpeg' %}" alt="picture_bottom">
                </div>
                <div class="bottom-content__text">
                    <span class="span-center">
                        <h2 class="heading">Wynajmujemy również samochody zastępcze osobom poszkodowanym</h2>
                    </span>
                    
                    <h3>SAMOCHÓD ZASTĘPCZY Z OC SPRAWCY ZA DARMO!!!</h3>
                    <h4>MIAŁEŚ WYPADEK? KOLIZJĘ? KTOŚ USZKODZIŁ TWOJE AUTO? ZOSTAŁEŚ POZBAWIONY SAMOCHODU?</h4>
                    <p>Dobrze trafiłeś! Masz prawo do wynajęcia pojazdu zastępczego na koszt ubezpieczyciela z OC sprawcy od chwili zdarzenia do momentu naprawy Twojego auta lub wypłaty odszkodowania (w przypadku szkody całkowitej) przez firmę ubezpieczeniową. Auto zastępcze udostępniamy osobie poszkodowanej, która z powodu uszkodzenia własnego pojazdu nie może korzystać z niego korzystać w dotychczasowy sposób.Całość wynajmu regulowana będzie bezpośrednio z polisy OC sprawcy. Poszkodowany może wynająć w naszej firmie zastępczy środek transportu bez względu na to czy uszkodzony samochód wykorzystywany był do prowadzenia działalności gospodarczej czy też służył do celów prywatnych.</p>
                    <h4>JAK UZYSKAĆ AUTO ZASTĘPCZE?</h4>
                    <p>Zajmujemy się wszelkimi formalnościami związanymi z odzyskaniem środków z OC sprawcy wypadku. Do dyspozycji Klientów oddajemy szeroką gamę nowych i bogato wyposażonych samochodów, które zapewnią bezpieczeństwo i komfort zarówno w jeździe miejskiej jak i na dalekich trasach. Wszystkie samochody są ubezpieczone w pełnym pakiecie OC, AC, NNW z 24 godzinnym Assistance.</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>