<!DOCTYPE html>
{% extends 'base2.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <p>Miałeś wypadek lub kolizję?</p>
    <p>Jesteś poszkodowany?</p>
    <p>NIE DAJ SIE OSZUKAC!!!</p>
    <p>Poznaj ABC poszkodowanego!</p>
    <ol>
        <li>Twój samochód jest unieruchomiony lub ma potłuczone reflekory. Pamiętaj przysługuje Ci pomoc drogowa i auto zastępcze niezależnie czy posiadasz pakiet AC lub Assistance. Jako poszkodowany wszystko masz za darmo!</li>
        <li>Masz 3 dni robocze aby zgłosić szkode u ubezpieczyciela sprawcy! Ubezpieczyciel ma kolejne 3 dni na umówienie rzeczoznawcy i zrobienie wyceny szkody Twojego samochodu! ZADZWOŃ POMOŻEMY CI TO ZORGANIZOWAĆ!</li>
        <li>Od dnia zdarzenia przysługuje Ci samochód zastępczy. Samochodem zastępczym możesz jeździć do dnia likwidacji szkody! Nie ważne co mówi ubezpieczyciel, nie daj się oszukać! Auto zastępcze należy się zarówno osobom prywatnym jak i firmom.</li>
        <li>Naprawa samochodu może odbyć się na podstawie kosztorysu i wówczas otrzymasz pieniądze na konto, a auto zastępcze na technologiczny czas naprawy lub poprzez naprawe bezgotówkową i to warsztat zajmie sie wszystkimi formalnościami i wyceną szkody. A auto zastępcze na rzeczywisty czas naprawy.</li>
    </ol>

    <p>DECYZJA NALEŻY DO CIEBIE!</p>



    {% endblock %}
    
</body>
</html>