.first_div{
    z-index: 1;
    background-color: red;
    position: absolute;
    width: 300px;
    height: 300px;
}
.second_div{
    z-index: 2;
    background-color: blue;
    opacity: 0.1;
    position: absolute;
    width: 50%;
    height: 50%;
}