*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    position: relative;
}
.main{
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    /*padding-bottom: 30px; /* height  footer */
}
.main_header{
    width: 100%;
    background: #f7b901;
    padding: 8px 16px;
    
}
.main_header > div{
    display: inline-block;
    vertical-align: middle;
}

.main_header__brand {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-weight: bold; 
    color: black;
}
.main_header_navigation_bar {
    display: inline-block;
    text-align: right;
    width: calc(100% - 110px);
    vertical-align: middle;
}
.main_header_dropdown_menu{
    display: none;    
    position: absolute;
    background-color: #fff;
}
.main_header_dropdown_menu__link{
    list-style: none;
    text-align: center;
    vertical-align: middle;
    /* border-left: 1px black solid;
    border-right: 1px black solid; */
    width: calc(100% - 110px);
    margin-top: 5px 20px;
    padding: 3px 9px;

}
.main_header__link:hover ul{
    display: block
}
.main_header_dropdown_menu__link > a{
    padding: 24px 0px;
}
.main_header__link{
    display: inline-block;
    padding: 3px 9px;
    border-right: 1px black solid; 
    position: relative;   
}
.main_header__link:last-child{
    border-right: none;
}
.main_header__link a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.main_header__link a:hover,
.main_header__link a:active{
    color: red;
}


/* footer styling*/
.main_footer{
    /*position: absolute;*/ 
    bottom: 0;
    background-color:#f7b901;
    width: 100%; 
    padding: 30px;
    border-top: 1px solid black;
    color: black;
    text-transform: uppercase;
}
.main_footer__info{
    display: inline-block;
}
.main_footer__info > a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
